* {
    margin: 0px;
    padding: 0px;
    border: none;
    text-decoration: none;
    box-shadow: none;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: #000;
}

header {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    width: 100%;
    filter: brightness(0.7);
}

header nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 3%;
    width: 80%;
    background-color: #f1f1f1;
    border-radius: 35px;
    z-index: 999;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 10px 0px;
}

header nav ul li {
    display: flex;
    align-items: center;
}

header nav ul li a {
    font-size: 25px;
    color: #000;
    font-weight: bold;
    transition: color 0.3s;
    position: relative;
}

header nav ul li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    transform: scaleX(0);

    transition: all 0.3s ease-in-out 0s;
}

header nav ul li a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

header nav ul li a img {
    width: 70px;
    border-radius: 40px;
}

header article {
    position: absolute;
    top: 40%;
    color: #f1f1f1;
    text-align: center;
    background-color: #0000006f;
    padding: 10px 30px;
    border-radius: 35px;
    z-index: 1;
}

header article h1 {
    font-size: 80px;
    margin-bottom: 10px;
}

header article p {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 100;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.section-1 {
    position: relative;
    border-radius: 80px;
    margin-top: 100px;
    width: 60%;
    padding: 20px 40px;

    transition: border 0.3s ease, box-shadow 1s ease;
}

.section-1::after {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    border-radius: 80px;

    transition: box-shadow 1s ease 0.5s;
}

.section-1:hover::after {
    box-shadow: 0px 4px 20px 10px #ffffff;
    transition-delay: 1s;
}

.section-1:hover {
    border: #f1f1f1 1px solid;
    box-shadow: 0px 0px 0px 3px #f1f1f1;
}

.section-1 div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    color: #f1f1f1;
}

.section-1 div img {
    border-radius: 80px;
}

.section-1 div h2 {
    font-size: 30px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.section-1 div p {
    font-size: 19px;
    line-height: 20px;
}

.section-2 {
    margin-top: 100px;
}

.section-3 {
    margin-top: 100px;
    color: #f1f1f1;
    text-align: center;
}

.section-3 h2 {
    font-size: 50px;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.section-3 a {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
    background-color: #cecece;
    border-radius: 40px;
    padding: 12px 40px;

    transition: all 0.3s ease-in-out;
}

.section-3 a:hover {
    padding: 14px 44px;
    background-color: #FFF;
    box-shadow: 0px 0px 20px 4px #ffffff;
}

.section-3 p {
    font-size: 19px;
    margin-top: 30px;
}

footer {
    background-color: #000;
    border-top: #f1f1f1 5px solid;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

footer .article-1{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer .article-1 ul li a{
    color: #FFF;
    font-size: 22px;
    line-height: 30px;
}

footer .article-1 img{
    width: 20%;
    height: 230px;
    border-radius: 500px;
}

footer .article-2{
    width: 100%;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .article-2 h2{
    color: #FFF;
    font-size: 30px;
    padding-bottom: 20px;
}

footer .article-2 form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer .article-2 form input, button{
    margin: 0px;
    padding: 0px;
}

footer .article-2 form input{
    width: 300px;
    height: 40px;
    padding-left: 20px;
    font-size: 15px;
    border-radius: 5px 0px 0px 5px;
}

footer .article-2 form button{
    width: 150px;
    height: 40px;
    font-size: 15px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 0px 20px 20px 0px;
    background-color: #000;
    color: #FFF;
    border: #f1f1f1 2px solid;
}