* {
    margin: 0px;
    padding: 0px;
    border: none;
    text-decoration: none;
    box-shadow: none;
    font-family: sans-serif;
}

header {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    width: 100%;
    filter: brightness(0.7);
}

header nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 3%;
    width: 80%;
    background-color: #dddddd;
    border-radius: 35px;
    z-index: 999;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 10px 0px;
}

header nav ul li {
    display: flex;
    align-items: center;
}

header nav ul li a {
    font-size: 20px;
    color: #000;
    font-weight: bold;
    transition: color 0.3s;
    position: relative;
}

header nav ul li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

header nav ul li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

header nav ul li a img {
    width: 70px;
    border-radius: 40px;
}

header article {
    position: absolute;
    top: 40%;
    color: #dddddd;
    text-align: center;
    background-color: #0000006f;
    padding: 10px 30px;
    border-radius: 35px;
    z-index: 1;
}

header article h1 {
    font-size: 80px;
    margin-bottom: 10px;
}

header article p {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 100;
}